<ion-view title="Login">
  <div class="bar bar-header">
    <button class="button button-icon icon ion-home" ng-click="goHome()"></button>
    <div class="h1 title">斗地主</div>
    <button class="button button-clear button-positive">Edit</button>
  </div>
  <ion-content overflow-scroll="true" padding="true" class="has-header">
    <ion-list>
      <ion-item ng-repeat="person in persons">
        <h1 ng-class="{'color-red': person.value>0, 'color-green':person.value<0}" style="display: inline-block">{{person.name}}: {{person.value}}</h1>
        <div style="float: right;">
          <button class="button button-assertive ion-plus" ng-click="add(person)"></button>
          <button class="button button-balanced ion-minus" ng-click="subtract(person)"></button>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
