.finished h2
  color: rgb(217, 217, 217)
  text-decoration: line-through;

.w32p
  width 32%

.center
  text-align: center

.color-red
  color: #ef473a

.color-green
  color: #33cd5f

.color1
  color white
  background: #b7c79c

.color1x
  color white
  background: #0f12c7

.color2
  background #95c7a6

.color2x
  background #95c7a6

.color4
  background #95c7a6

.color4x
  background #95c7a6

.color8
  background #95c7a6

.color8x
  background #95c7a6
